<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dev" class="com.monim.spring_boot.Dev" autowire="byType">
        <!-- <property name="com" ref="desk1"/> -->
    </bean>

    <bean id="com" class="com.monim.spring_boot.Laptop">
    </bean>

    <bean id="com1" class="com.monim.spring_boot.Desktop" primary="true">
     
    </bean>
</beans>